secrets.json

.openzeppelin

contracts/.placeholder
test/.placeholder
artifacts
build
cache
node_modules
node_modules
.env

#Hardhat files
cache
artifacts

node_modules

#Buidler files
cache
artifacts
